<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

     <div class="alert alert-primary" role="alert">
        Hi Jayashree...
      </div>
      <div class="alert alert-secondary" role="alert">
        How are yoy??
      </div>
      <div class="alert alert-success" role="alert">
       Vrindha
      </div>
      <div class="alert alert-danger" role="alert">
        nice to meet you
      </div>
      <div class="alert alert-warning" role="alert">
        Lasya
      </div>
      <div class="alert alert-info" role="alert">
        Lasya what's ur plans??
      </div>
      <div class="alert alert-light" role="alert">
        We will meet
      </div>
      <div class="alert alert-dark" role="alert">
        Thanku
      </div> 



      <div class="alert alert-primary" role="alert">
        moon <a href="https://tse2.mm.bing.net/th?id=OIP.Q9DpxAG3XHO9Ctqk0RlJ1QHaEo&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div>
      <div class="alert alert-secondary" role="alert">
        Nature <a href="https://tse3.mm.bing.net/th?id=OIP.ieYaDo1sROUJ-PLPL2_kxwHaEo&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div>
      <div class="alert alert-success" role="alert">
        Quotes <a href="https://tse1.mm.bing.net/th?id=OIP.PFGnf7jAWEIAdQXgyL4J2AHaEK&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div>
      <div class="alert alert-danger" role="alert">
        Kanna <a href="https://tse4.mm.bing.net/th?id=OIP.bhS525AaUty__sUpl06aiwHaEK&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div>
      <div class="alert alert-warning" role="alert">
        Nature's beauty <a href="https://tse1.mm.bing.net/th?id=OIP.tJYfidAP6xP0hCOVF1AS4wHaEK&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div>
      <div class="alert alert-info" role="alert">
        Lion <a href="https://tse4.mm.bing.net/th?id=OIP.mSygxmoL7ZJvNUFZCWMKUAHaEK&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div>
      <div class="alert alert-light" role="alert">
        Cheethaa <a href="https://tse3.mm.bing.net/th?id=OIP.ChKw1Kgc61xxKdz_vCWwOwHaE7&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div>
      <div class="alert alert-dark" role="alert">
        tiger <a href="https://tse4.mm.bing.net/th?id=OIP.qWu4KToB_AG6ckKEIk3iSQHaEK&pid=Api&P=0&h=180" class="alert-link">To see beautifu images</a>. Give it a click if you like.
      </div> 



      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Nice visuals!</h4>
        <p>Thanku you for watching all my pictures.</p>
        <hr>
        <p class="mb-0">If u want more conent you may contact me I'll help you....</p>
      </div>




      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hello yarrrr</strong> Thanku for encouraging me towards my passion.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      
    

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  -->
   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

  </body>
</html>