<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <h1>Jayashree <span class="badge badge-secondary">New</span></h1>
<h2>Jayashree <span class="badge badge-secondary">New</span></h2>
<h3>Jayashree <span class="badge badge-secondary">New</span></h3>
<h4>Jayashree <span class="badge badge-secondary">New</span></h4>
<h5>Jayashree<span class="badge badge-secondary">New</span></h5>
<h6>Jayashree <span class="badge badge-secondary">New</span></h6>


<button type="button" class="btn btn-primary">
    Notifications <span class="badge badge-light">4</span>
  </button>

  <button type="button" class="btn btn-primary">
    Profile <span class="badge badge-light">9</span>
    <span class="sr-only">unread messages</span>
  </button>
  <br>
  

  <span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>
<br>


<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>
<br>


<a href="https://tse3.mm.bing.net/th?id=OIP.aCa-GO0rFRFBUZf3AtobxQHaEK&pid=Api&P=0&h=180" class="badge badge-primary">Kanna</a>
<a href="https://tse1.mm.bing.net/th?id=OIP.udcBpNVJs8koBpgj62-D-AHaEK&pid=Api&P=0&h=180" class="badge badge-secondary">nature</a>
<a href="https://tse3.mm.bing.net/th?id=OIP.5Oo4seswy9Tex2kfYmpbEAHaEK&pid=Api&P=0&h=180" class="badge badge-success">Ocean</a>
<a href="https://tse4.mm.bing.net/th?id=OIP.ImOUppZgPagtfAXoVDhMpwHaHa&pid=Api&P=0&h=180" class="badge badge-danger">Icecream</a>
<a href="https://tse3.mm.bing.net/th?id=OIP.SG5ENMqyWaeRu4CaouFf2QHaEH&pid=Api&P=0&h=180" class="badge badge-warning">Food</a>
<a href="https://tse3.mm.bing.net/th?id=OIP.xOioZx9FtMyuvHJyF1MtfwHaEK&pid=Api&P=0&h=180" class="badge badge-info">birds</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>






    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  -->
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
  </body>
</html>